@import "../../style/config";
.shop {
  margin-top: 118.92px;
  font-family: $font-secondary;
  color: $color-light-black-1;

  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 17rem 1fr;

  @media only screen and (max-width: $bp-medium) {
    margin-top: 70px;
  }
  &__image {
    width: 100%;
    height: 25vw;

    grid-column: 1/-1;
    background-image: linear-gradient(
        to left,
        rgba($color-gray-dark, 0.4),
        rgba($color-gray-dark, 0.4)
      ),
      url("../../assets/images/shop-a.jpg");
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: $bp-medium1) {
      height: 55vh;
    }
    &--cont {
      color: $color-white;
      text-align: center;

      transform: translateY(80px);
    }
    h2 {
      font-size: 3rem;
      font-weight: 500;
      @media only screen and (max-width: $bp-small) {
        font-size: 2.4rem;
      }
    }
    &--lists {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      text-transform: uppercase;

      li {
        font-size: 0.9rem;
        font-weight: 300;

        @media only screen and (max-width: $bp-small) {
          font-size: 0.8rem;
        }
      }
      li:nth-child(2n) {
        margin: 0 0.8rem;
      }
    }
  }
  &__categories {
    grid-column: 1/2;
    @media only screen and (max-width: $bp-medium1) {
      display: none;
    }
  }
  &__main {
    grid-column: 2/3;
    @media only screen and (max-width: $bp-medium1) {
      grid-column: 1/-1;
    }

    &--sellers {
      padding: 0 0.7rem;
    }
    &--head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2rem;
      padding-bottom: 1.6rem;
    }

    &--all {
      padding: 0 0.7rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &--heads {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 2.8rem;

      h2 {
        font-size: 2rem;
      }
    }
    &--para {
      padding-top: 3rem;
      padding-bottom: 2rem;
      display: flex;

      label {
        padding: 0 1rem;
        text-transform: uppercase;
      }

      select {
        padding: 5px 1rem;
        outline: none;
      }
    }
  }
}

//############################## we are using the same code as menu components ###############################
.menu__content {
  padding: 1rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-column-gap: 1rem;

  &--one,
  &--two,
  &--three,
  &--four,
  &--five,
  &--six,
  &--seven,
  &--eight {
    padding-bottom: 2rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    .menu__content--wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 0.4rem;
      padding-bottom: 1rem;

      position: relative;

      div {
        grid-column: 1/-1;
        grid-row: 1/2;
        align-self: start;
        margin-top: 8px;
        color: $color-white;

        display: flex;
        justify-content: space-between;

        h5 {
          background: $color-light-green-1;
          padding: 0 1rem;
        }
      }
    }

    .menu__content--wrapper:hover {
      opacity: 0.4;
    }

    p {
      grid-column: 1/-1;
      justify-self: center;
      text-transform: capitalize;

      padding-top: 8px;
    }
    p s {
      position: relative;
      font-size: 0.8rem;
      text-decoration: none;
      font-family: $font-primary;
    }
    p s::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: #333;
      display: block;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(-20deg);
    }
  }

  // ########## icon styling  ############
  &--options {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 10%;
    left: 20%;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: orange;
    }
  }

  .menu__content--wrapper:hover &--options {
    opacity: 1;
    visibility: visible;
    transform: translate(0%, 80%);
    transition: all 0.4s;
  }

  &--detail {
    background: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    a {
      text-decoration: none;
    }

    a svg {
      transform: translate(11px, 11px);
    }
  }
  &--detail:not(:last-of-type) {
    margin-right: 1.2rem;
  }

  &--one img,
  &--two img,
  &--three img,
  &--four img,
  &--five img,
  &--six img,
  &--seven img,
  &--eight img {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
  }
}
