@import "../../style/config";
.menu {
  grid-column: full-start/full-end;

  color: $color-light-black-1;
  font-family: $font-secondary;
  padding: 0 1rem;
  padding-bottom: 2rem;

  h2 {
    text-align: center;
    padding-bottom: 2.5rem;
    font-size: 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 2.6rem;
    }
  }

  &__content {
    padding: 1rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-column-gap: 1rem;

    &--one,
    &--two,
    &--three,
    &--four,
    &--five,
    &--six,
    &--seven,
    &--eight {
      padding-bottom: 2rem;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;

      .menu__content--wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 0.4rem;
        padding-bottom: 1rem;

        position: relative;

        div {
          grid-column: 1/-1;
          grid-row: 1/2;
          align-self: start;
          margin-top: 8px;
          color: $color-white;

          display: flex;
          justify-content: space-between;

          h5 {
            background: $color-light-green-1;
            padding: 0 1rem;
          }
        }
      }

      .menu__content--wrapper:hover {
        opacity: 0.4;
      }

      p {
        grid-column: 1/-1;
        justify-self: center;
        text-transform: capitalize;

        padding-top: 8px;
      }
      p s {
        position: relative;
        font-size: 0.8rem;
        text-decoration: none;
        font-family: $font-primary;
      }
      p s::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #333;
        display: block;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-20deg);
      }
    }

    // ########## icon styling  ############
    &--options {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 10%;
      left: 20%;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: orange;
      }
    }

    .menu__content--wrapper:hover &--options {
      opacity: 1;
      visibility: visible;
      transform: translate(0%, 0%);
      transition: all 0.4s;

      // #### to position the options class to the middle
      @media only screen and (max-width: $bp-smallest) {
        top: 25%;
        left: 30%;
      }
    }

    &--detail {
      background: #fff;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;

      a {
        text-decoration: none;
      }

      a svg {
        transform: translate(11px, 11px);
      }
    }
    &--detail:not(:last-of-type) {
      margin-right: 1.2rem;
    }

    &--one img,
    &--two img,
    &--three img,
    &--four img,
    &--five img,
    &--six img,
    &--seven img,
    &--eight img {
      grid-column: 1/3;
      grid-row: 1/2;
      width: 100%;
    }
  }
}
