@import "../../../style/config";
.sideleft {
  // background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  color: $color-light-black-1;

  &__categories {
    padding-top: 2rem;
    padding-bottom: 1rem;

    &--lists {
      list-style: none;

      li {
        padding: 0.4rem 0;
      }

      a {
        text-decoration: none;
        font-size: 14px;
        color: $color-light-black-1;
      }
      a:hover {
        color: $color-primary-4;
      }

      span {
        padding-right: 0.5rem;
      }
    }
  }

  &__brand {
    padding-bottom: 1.4rem;

    &--content {
      padding-top: 0.8rem;
      a {
        text-decoration: none;
        font-size: 14px;
        color: $color-light-black-1;
      }
      a:hover {
        color: $color-primary-4;
      }
    }
  }

  &__collection {
    padding-top: 1rem;
    padding-bottom: 0.8rem;
  }

  &__sizeOption {
    padding-bottom: 0.8rem;

    &--content {
      display: flex;
      padding: 1rem 0;
      .small,
      .medium,
      .big {
        padding: 7px 14px;
        border: 1px solid $color-grey-dark-2;
        font-size: 14px;
        color: $color-light-black-1;
        cursor: pointer;
        transition: all 0.5s;
      }
      .small:hover,
      .medium:hover,
      .big:hover {
        background: $color-primary-4;
        color: $color-white;
        border: 1px solid $color-primary-4;
      }
      .small,
      .medium {
        margin-right: 1rem;
      }
    }
  }

  &__priceFilter {
    padding-bottom: 0.8rem;
  }

  &__tags {
    &--content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        text-decoration: none;
        font-size: 14px;
        margin-bottom: 1rem;

        p {
          padding: 7px 14px;
          border: 1px solid $color-grey-dark-2;
          color: $color-light-black-1;
          transition: all 0.5s;
        }
        p:hover {
          background: $color-primary-4;
          color: $color-white;
          border: 1px solid $color-primary-4;
        }
      }
    }
  }

  &__categories,
  &__brand,
  &__collection,
  &__sizeOption,
  &__priceFilter,
  &__tags {
    h2 {
      font-size: 0.8rem;
      text-transform: uppercase;
    }
    hr {
      margin: 0.7rem 0;
    }
  }

  &__collection,
  &__priceFilter {
    &--lists {
      list-style: none;

      li {
        padding: 0.3rem 0;
      }
      a {
        text-decoration: none;
        font-size: 14px;
        color: $color-light-black-1;
      }
      a:hover {
        color: $color-primary-4;
      }

      span {
        padding-right: 0.5rem;
      }
    }
  }
  figure {
    padding-top: 5rem;
    position: relative;

    figcaption {
      position: absolute;
      top: 25%;
      left: 20%;
      font-size: 1.4rem;
      padding: 3px 1.2rem;
      border: 3px solid $color-white;
      color: $color-white;
    }
    img {
      width: 100%;
      transition: transform 2s;
    }
    img:hover {
      transform: scale(1.05);
      opacity: 0.9;
    }
    img:hover ~ figcaption {
      z-index: 100;
    }
  }
}
