@import "../../style/config";
.feature {
  margin-top: 118.92px;
  font-family: $font-secondary;
  color: $color-light-black-1;

  display: grid;
  grid-template-columns: 18rem 1fr;

  @media only screen and (max-width: $bp-medium) {
    margin-top: 70px;
    grid-template-columns: 1fr;
  }

  #Feature__image {
    background-image: linear-gradient(
        to left,
        rgba($color-gray-dark, 0.4),
        rgba($color-gray-dark, 0.4)
      ),
      url("../../assets/images/shop-b.jpg");
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: $bp-medium) {
      height: 55vh;
    }

    @media only screen and (max-width: 490px) {
      height: 45vh;
      overflow: hidden;
    }
  }

  &__sideleft {
    // background: blue;

    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    padding-top: 4rem;

    &--search {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      input[type="text"] {
        padding: 14px 1.25vw;
        background-color: $color-light-gray-1;
        border: 1px solid $color-light-gray-1;

        @media only screen and (max-width: $bp-medium) {
          width: 75vw;
        }
      }
      button {
        padding: 6px 10px 13px 10px;
        background: $color-light-black-1;
        border: 2px solid $color-light-black-1;

        svg {
          width: 1.2rem;
          height: 1.2rem;
          transform: translateY(6px);
          fill: #fff;
        }
      }
    }

    &--posts h2,
    &--instagram h2,
    &--followUs h2,
    &--tags h2 {
      font-size: 0.8rem;
      text-transform: uppercase;
      padding-bottom: 2rem;
    }

    &--posts h2::after,
    &--instagram h2::after,
    &--followUs h2::after,
    &--tags h2::after {
      content: "";
      display: block;
      margin-top: 0.8rem;

      width: 100%;
      height: 1.5px;
      background: $color-grey-dark-3;
    }

    &--post {
      padding-bottom: 1.5rem;
      .feature__post--content {
        display: flex;

        figure {
          overflow: hidden;

          img {
            width: 5.5rem;
            height: 5.5rem;
          }
          #powder {
            width: 8rem;
          }
        }

        .feature__post--detail {
          display: flex;
          flex-direction: column;

          padding-left: 1rem;
          font-size: 0.7rem;

          p:first-child {
            color: $color-grey-dark-3;
            text-transform: uppercase;
            padding-bottom: 5px;
          }
          h4 {
            padding-bottom: 7px;
            text-transform: capitalize;
            a {
              text-decoration: none;
              color: $color-light-black-1;
            }
          }
          a:hover {
            color: $color-primary-4;
          }

          p:last-child {
            color: $color-grey-dark-3;
          }
        }
      }
    }

    &--instagram {
      padding: 1rem 0;

      .feature__instagram--images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 8px;

        width: 100%;
        overflow: hidden;
      }
      img {
        width: 100%;
        transition: transform 1s;
      }
      img:hover {
        transform: scale(1.05);
        opacity: 0.6;
      }
    }

    &--followUs {
      padding: 1rem 0;

      .feature__followUs--icons {
        display: flex;
        justify-content: space-between;
        width: 80%;

        @media only screen and (max-width: $bp-medium) {
          justify-content: flex-start;
        }

        a {
          text-decoration: none;
          width: 2.3rem;
          height: 2.3rem;
          background: $color-light-black-1;
          border-radius: 50%;
          transition: ease-out 0.5s;

          @media only screen and (max-width: $bp-medium) {
            margin-right: 1rem;
          }
        }

        a:hover {
          background: $color-primary-4;
        }
        svg {
          width: 1rem;
          height: 1rem;
          fill: $color-white;
          transform: translate(60%, 50%);
        }
      }
    }

    &--tags {
      padding: 1rem 0;

      .feature__tags--content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media only screen and (max-width: $bp-medium) {
          flex-wrap: nowrap;
          justify-content: flex-start;
        }

        p {
          border: 1px solid $color-grey-dark-3;
          padding: 5px 15px;
          font-size: 14px;
          cursor: pointer;
          margin-bottom: 1rem;
          color: $color-grey-dark-3;

          @media only screen and (max-width: $bp-medium) {
            margin-right: 1rem;
          }
        }
      }
    }
  }
  &__main {
    padding: 4rem 0.7rem;

    &--image {
      max-width: 100%;
      overflow: hidden;
      a {
        text-decoration: none;
      }
      img {
        max-width: 100%;
        transition: all 3s;
      }
      img:hover {
        transform: scale(1.05);
        opacity: 0.8;
      }
    }
    &--para {
      padding-top: 2rem;
      padding-bottom: 3.5rem;
    }

    // this is to make the horizontal line
    &--para::after {
      content: "";
      display: block;

      width: 100%;
      height: 1px;
      background: $color-grey-dark-3;
    }
    &--heading {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      padding-bottom: 1.9rem;
    }

    &--circle {
      border: 1px solid $color-grey-dark-3;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 2rem;

      hr {
        width: 80%;
        margin: 0 auto;
      }

      p {
        transform: translateX(1.2rem);
      }
      p:first-child {
        padding-top: 5px;
        transform: translateX(1.4rem);
      }
    }
    &--title {
      display: flex;
      flex-direction: column;

      h4 {
        color: $color-grey-dark-3;
        font-weight: 300;
      }

      h2 {
        font-weight: 300;
      }
    }

    article {
      p {
        font-size: 15px;
        font-weight: 300;
        color: $color-grey-dark-3;
        line-height: 1.9;
      }
    }

    &--footer {
      padding: 1.9rem 0;

      h4 {
        color: $color-light-black-1;
        font-weight: 300;
        padding-bottom: 0.8rem;
      }

      a {
        text-decoration: none;
        color: $color-light-black-1;
        font-size: 14px;
        font-weight: 700;

        p {
          font-size: 14px;
        }
        span {
          padding-left: 6px;
        }
        p::after {
          content: "";
          display: block;
          background: $color-light-black-1;
          width: 4.3rem;
          height: 2px;
          margin-top: 0.2rem;
        }
      }

      a:hover {
        color: $color-primary-4;
        p::after {
          background-color: $color-primary-4;
        }
      }
    }

    // ########## button styles######
    &--buttons {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 1rem;

      span {
        padding: 9px 1.3rem;
        border: 1px solid $color-grey-dark-3;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
